//- The object literal below has to be on one line because Jade doesn't support multi-line javascript.
//- The format object is used to allow all the inline formatting to be controlled in one place. Quick... and dirty.
- var format = {font: 'Arial, sans serif', fontColor: '#333', perimeterColor: '#ebebeb', backgroundColor: '#ffffff', millerColor: "#1F497D", width: 600, sidePadding: 30, get halfWidth () {return (this.width-2*this.sidePadding)/2}, standardHeight: 50, get halfHeight () {return (this.standardHeight/2)}}


doctype strict
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='initial-scale=1.0')
    meta(name='format-detection', content='telephone=no')
    title dEmail - Automated Results
    style(type='text/css')

      | .ReadMsgBody { width: 100%; background-color: #{format.perimeterColor};}
      | .ExternalClass {width: 100%; background-color: #{format.perimeterColor};}
      | body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
      | body {margin:0; padding:0;}
      | table {border-spacing:0;}
     //- | table td {border-collapse:collapse;}
      | .yshortcuts a {border-bottom: none !important;}

      | @media screen and (max-width: #{format.width}qpx) {
      | table[class="container"] {
      | width: 95% !important;
      | }
      | }

      | @media screen and (max-width: 480px) {
      | td[class="container-padding"] {
      | padding-left: 12px !important;
      | padding-right: 12px !important;
      | }
      | }

      //- | td { border: 1px solid black;}

  body(style='margin: 0; padding: 10px 0;', bgcolor=format.perimeterColor, leftmargin='0', topmargin='0', marginwidth='0', marginheight='0')
    br
    //- 100% wrapper (grey background)
    table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0', bgcolor=format.perimeterColor)
      tr
        td(align='center', valign='top', bgcolor=format.perimeterColor, style='background-color: '+ format.perimeterColor)
          //- Actual Container (White Background Section)
          table.container(border='0', width=format.width, cellpadding='0', cellspacing='0', bgcolor=format.backgroundColor)
            tr
              td.container-padding(bgcolor=format.backgroundColor, style='background-color:' + format.backgroundColor +  '; padding-left: 30px; padding-right: 30px; font-size: 14px; line-height: 20px; font-family: ' + format.font + '; color: ' + format.fontColor + ';')
                br
                //- BEGIN CONTENT
                table
                  //- Logo Images
                  tr 
                    td(style="background: black"): img(src="images/image002.jpg" alt="Team Penske" width="540")
                  //- Title
                  tr(height=format.standardHeight)
                    td(style="text-align: center; font-size: 17.5pt; color: white; background: black"): b Sprint Cup Series #{leaderboard.RunName.slice(leaderboard.RunName.indexOf(" "))} Report
                  //- Car Logos and Names 
                  tr(height="100")
                    td: table(style="text-align: center")
                      tr
                        td(width=format.halfWidth): img(src="images/image003.jpg" alt="Miller Lite")
                        td(width=format.halfWidth): img(src="images/image004.png" alt="Pennzoil")
                      tr
                        td(style="text-align: center; color: " + format.millerColor + "; font-size: 10pt"): b The No. 2 Miller Lite Ford Fusion
                        td(style="text-align: center; color: red; font-size: 10pt"): b The No. 22 Shell-Pennzoil Ford Fusion
                  //- Indidivual Car Results
                  tr
                    td
                      table
                        tr
                          td(width=format.halfWidth)
                            table(width="100%")
                              tr
                                td: b Finished
                                td(style="text-align: center") 1st
                              tr
                                td: b Speed
                                td(style="text-align: center") 220 miles per hour
                              tr
                                td: b Time
                                td(style="text-align: center") 18 Seconds
                          td(width=format.halfWidth)
                            table(width="100%")
                              tr
                                td: b Finished
                                td(style="text-align: center") 2nd
                              tr
                                td: b Speed
                                td(style="text-align: center") 200 miles per hour
                              tr
                                td: b Time
                                td(style="text-align: center") 19 Seconds
                  //- General Notes
                  tr: td(style="text-align: center" height= format.halfHeight) Track: #{leaderboard.TrackName}
                  //- Black Divider
                  tr: td(style="background: black" height = format.standardHeight)
                  //- Full Series Results
                  tr
                    td
                      table(width="100%" style="font-size: 8pt")
                        //- Individual Car Headings
                        tr
                          th: b Pos
                          th: b Car
                          th: b Driver
                          th: b Team
                          th: b Time
                          th: b Speed
                          th: b Lap #
                          th: b # Laps
                          th: b -Fastest
                          th: b -Next
                  
                        each driver, i in leaderboard.Passings
                          - var car1 = driver.Driver.DriverName === "Brad Keselowski";
                          - blah = car1?format.millerColor:"red";
                          tr(style = "color:" + blah)
                            td= i+1
                            td= driver.CarNo
                            td= driver.Driver.DriverName
                            td= driver.Sponsor
                            td= driver.BestTime
                            td= driver.BestSpeed
                            td= driver.BestLap
                            td= driver.LapCount
                            td= "Delta"                              
                            td= "Delta"

                  //- Contact Info
                  tr(style="background: black; color: white; font-size: 8pt"): td: b CONTACT INFO
                  tr(style="background: black; color: white; font-size: 8pt"): td: i No. 2 Miller Lite Ford: Michael Ribas &nbsp;
                    a(href="mailto:michael.ribas@penskeracing.com") michael.ribas@penskeracing.com
                  tr(style="background: black; color: white; font-size: 10pt"): td: i No. 22 Shell-Pennzoil Ford: Jeremy Troiano &nbsp;
                    a(href="mailto:jeremy.troiano@penskeracing.com") jeremy.troiano@penskeracing.com
                br
                br

