//- The object literal below has to be on one line because Jade doesn't support multi-line javascript.
//- The format object is used to allow all the inline formatting to be controlled in one place. Quick... and dirty.
- var format = {font: 'Arial, sans serif', fontColor: '#333', perimeterColor: '#ebebeb', backgroundColor: '#ffffff', width: 600}


doctype strict
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='initial-scale=1.0')
    meta(name='format-detection', content='telephone=no')
    title dEmail - Automated Results
    style(type='text/css')

      | .ReadMsgBody { width: 100%; background-color: #{format.perimeterColor};}
      | .ExternalClass {width: 100%; background-color: #{format.perimeterColor};}
      | body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
      | body {margin:0; padding:0;}
      | table {border-spacing:0;}
      | table td {border-collapse:collapse;}
      | .yshortcuts a {border-bottom: none !important;}

      | @media screen and (max-width: #{format.width}qpx) {
      | table[class="container"] {
      | width: 95% !important;
      | }
      | }

      | @media screen and (max-width: 480px) {
      | td[class="container-padding"] {
      | padding-left: 12px !important;
      | padding-right: 12px !important;
      | }
      | }

  //- | td { border: 1px solid black;}

  body(style='margin: 0; padding: 10px 0;', bgcolor=format.perimeterColor, leftmargin='0', topmargin='0', marginwidth='0', marginheight='0')
    br
    //- 100% wrapper (grey background)
    table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0', bgcolor=format.perimeterColor)
      tr
        td(align='center', valign='top', bgcolor=format.perimeterColor, style='background-color: '+ format.perimeterColor)
          //- Actual Container (White Background Section)
          table.container(border='0', width=format.width, cellpadding='0', cellspacing='0', bgcolor=format.backgroundColor)
            tr
              td.container-padding(bgcolor=format.backgroundColor, style='background-color:' + format.backgroundColor +  '; padding-left: 30px; padding-right: 30px; font-size: 14px; line-height: 20px; font-family: ' + format.font + '; color: ' + format.fontColor + ';')
                br
                //- BEGIN CONTENT
                table
                  //- Logo Images
                  tr 
                    td(style="background: black"): img(src="images/image002.jpg" alt="Team Penske" width="540")
                  //- Title
                  tr(height="50")
                    td(style="text-align: center; font-size: 17.5pt; color: white; background: black"): b Sprint Cup Series Practice Report
                  //- Car Logos and Names 
                  tr(height="100")
                    td: table(style="text-align: center")
                      tr
                        td(width="372.5"): img(src="images/image003.jpg" alt="Miller Lite")
                        td(width="372.5"): img(src="images/image004.png" alt="Pennzoil")
                      tr
                        td(style="text-align: center; color: #1F497D; font-size: 10pt"): b The No. 2 Miller Lite Ford Fusion
                        td(style="text-align: center; color: red; font-size: 10pt"): b The No. 22 Shell-Pennzoil Ford Fusion
                  //- Indidivual Car Results
                  tr
                    td
                      table
                        tr(width= "100")
                          td Finished
                          td 1st
                        tr
                          td Speed
                          td 220 miles per hour
                        tr
                          td Time
                          td 18 Seconds
                    td
                      table
                        tr
                          td Finished
                          td 2nd
                        tr
                          td Speed
                          td 200 miles per hour
                        tr
                          td Time
                          td 19 Seconds
                  //- General Notes
                  tr
                  //- Black Divider
                  tr
                  //- Full Series Results
                  tr
                  //- Contact Ifo
                  tr
                  tr
                  br
                  br

