//- The object literal below has to be on one line because Jade doesn't support multi-line javascript.
//- The format object is used to allow all the inline formatting to be controlled in one place. Quick... and dirty.
- var format = {font: 'Arial, sans serif', fontColor: '#333', perimeterColor: '#ebebeb', backgroundColor: '#ffffff', millerColor: "#1F497D", width: 600, sidePadding: 30, get halfWidth () {return (this.width-2*this.sidePadding)/2}, standardHeight: 50, get halfHeight () {return (this.standardHeight/2)}, leftPadding:"10px"};

doctype strict
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='initial-scale=1.0')
    meta(name='format-detection', content='telephone=no')
    title dEmail - Automated Results
    style(type='text/css')

      | .ReadMsgBody { width: 100%; background-color: #{format.perimeterColor};}
      | .ExternalClass {width: 100%; background-color: #{format.perimeterColor};}
      | body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
      | body {margin:0; padding:0;}
      | table {border-spacing:0;}
      | table td {border-collapse:collapse;}
      | .yshortcuts a {border-bottom: none !important;}

      | @media screen and (max-width: #{format.width}px) {
      | table[class="container"] {
      | width: 95% !important;
      | }
      | }

      | @media screen and (max-width: 480px) {
      | td[class="container-padding"] {
      | padding-left: 12px !important;
      | padding-right: 12px !important;
      | }
      | }

  body(style='margin: 0; padding: 10px 0;', bgcolor=format.perimeterColor, leftmargin='0', topmargin='0', marginwidth='0', marginheight='0')
    br
    //- 100% wrapper (grey background)
    table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0', bgcolor=format.perimeterColor)
      tr
        td(align='center', valign='top', bgcolor=format.perimeterColor, style='background-color: '+ format.perimeterColor)
          //- Actual Container (White Background Section)
          table.container(border='0', width=format.width, cellpadding='0', cellspacing='0', bgcolor=format.backgroundColor)
            tr
              td.container-padding(bgcolor=format.backgroundColor, style='background-color:' + format.backgroundColor +  '; padding-left: 30px; padding-right: 30px; font-size: 14px; line-height: 20px; font-family: ' + format.font + '; color: ' + format.fontColor + ';')
                br
                //- BEGIN CONTENT
                table(border="1px" style="border-collapse:collapse; border-color:black" cellpadding='0', cellspacing="0")
                  //- Logo Images
                  tr 
                    td(style="background: black"): img(src="images/image002.jpg" alt="Team Penske" width="540" align="center")
                  //- Title
                  tr(height=format.standardHeight)
                    td(style="text-align: center; font-size: 15pt; color: white; background: black"): b Sprint Cup Series Report
                  //- Car Logos and Names 
                  tr
                    td: table(style="text-align: center; border-left: 1px solid black; border-right: 1px solid black")
                      tr
                        td(width=format.halfWidth.value style="border-right:1px solid black;padding-top:5px"): img(src="images/image003.jpg" alt="Miller Lite")
                        td(width=format.halfWidth.value style="padding-top:5px"): img(src="images/image004.png" alt="Pennzoil")
                      tr
                        td(style="border-right:1px solid black; text-align: center; color: " + format.millerColor + "; font-size: 10pt"): b The No. 2 Miller Lite Ford Fusion
                        td(style="text-align: center; color: red; font-size: 10pt"): b The No. 22 Shell-Pennzoil Ford Fusion
                  //- Indidivual Car Results
                  - var ordNumber = function(n){
                  - var s=["th","st","nd","rd"]
                  - var v=n%100
                  - return n+(s[(v-20)%10]||s[v]||s[0]);
                  - }
                  tr
                    td
                      table(style="border-collapse:collapse; font-size: 10pt" cellpadding='0')
                        tr
                          each driver, i in leaderboard.Passings
                            if driver.Driver.DriverName === "Brad Keselowski"
                              - var firstPlace = driver.RaceRank
                              - var Speed = (driver.BestSpeed).toFixed(2)
                              - var fastTime = (driver.BestTime).toFixed(2)
                              td(width=format.halfWidth.value style="border-left: 1px solid black")
                                table(width="100%")
                                  tr
                                    td(style="padding-left:" + format.leftPadding): b Finished
                                    td(style="text-align: center; border-right: 1px solid black")= ordNumber(firstPlace)
                                  tr
                                    td(style="padding-left:" + format.leftPadding): b Speed
                                    td(style="text-align: center; border-right: 1px solid black")= Speed + " MPH"
                                  tr
                                    td(style="padding-left:" + format.leftPadding): b Time
                                    td(style="text-align: center; border-right: 1px solid black")= fastTime + " Seconds"
                            if driver.Driver.DriverName === "Joey Logano"
                              - var firstPlace = driver.RaceRank
                              - var Speed = (driver.BestSpeed).toFixed(2)
                              - var fastTime = (driver.BestTime).toFixed(2)
                              td(width=format.halfWidth.value style="border-right: 1px solid black")
                                table(width="100%")
                                  tr
                                    td(style="padding-left:" + format.leftPadding): b Finished
                                    td(style="text-align: center")= ordNumber(firstPlace)
                                  tr
                                    td(style="padding-left:" + format.leftPadding): b Speed
                                    td(style="text-align: center")= Speed + " MPH"
                                  tr
                                    td(style="padding-left:" + format.leftPadding): b Time
                                    td(style="text-align: center")= fastTime + " Seconds"
                  //- Black Divider
                  tr: td(style="background: black; text-align: center; font-size: 15pt; color: white;" height = format.standardHeight): b #{leaderboard.TrackName + " " + leaderboard.RunName.slice(leaderboard.RunName.indexOf(" "))} 
                  //- Full Series Results
                  tr
                    td
                      table(width="100%" style="font-size: 8pt; border-color:black; border-collapse:collapse" border="1px")
                        //- Individual Car Headings
                        tr
                          th: b Pos
                          th: b Car
                          th: b Driver
                          th: b Team
                          th: b Time
                          th: b Speed
                          th: b Lap #
                          th: b # Laps
                          th: b -Fastest
                          th: b -Next
                  
                        each driver, i in leaderboard.Passings
                          - var rowStyle = "white"
                          if driver.Driver.DriverName === "Brad Keselowski"
                            - rowStyle = format.millerColor + "; font-weight: bold; color: white"
                          else if driver.Driver.DriverName === "Joey Logano"
                            - rowStyle = "red; font-weight: bold; color: white"

                          tr(style = "background: " + rowStyle)
                            td(style="text-align: center")= i+1
                            td(style="text-align: center")= driver.CarNo
                            td(style="padding-left:4px")= driver.Driver.DriverName
                            td(style="padding-left:4px")= driver.Sponsor
                            td(style="text-align: center")= (driver.BestTime).toFixed(2)
                            td(style="text-align: center")= (driver.BestSpeed).toFixed(2)
                            td(style="text-align: center")= driver.BestLap
                            td(style="text-align: center")= driver.LapCount
                            //- Trick used below, for the first place person, in array position 0, it's made to return " - "
                            - var fastestDelta = i?(leaderboard.Passings[0].BestTime-leaderboard.Passings[i].BestTime).toFixed(2):"--"
                            - var nextDelta = i?(leaderboard.Passings[i].BestTime-leaderboard.Passings[i-1].BestTime).toFixed(2):"--"
                            td(style="text-align: center")= fastestDelta
                            td(style="text-align: center")= "-" + nextDelta

                  //- Contact Info
                  tr(style="background: black; color: white; font-size: 8pt"): td(style="padding-left:" + format.leftPadding height="17px"): b CONTACT INFO
                  tr(style="background: black; color: white; font-size: 8pt"): td(style="padding-left:" + format.leftPadding height="17px"): i No. 2 Miller Lite Ford: Michael Ribas &nbsp;
                    a(href="mailto:michael.ribas@penskeracing.com" style = "color: white") michael.ribas@penskeracing.com
                  tr(style="background: black; color: white; font-size: 8pt"): td(style="padding-left:" + format.leftPadding height="17px"): i No. 22 Shell-Pennzoil Ford: Jeremy Troiano &nbsp;
                    a(href="mailto:jeremy.troiano@penskeracing.com" style = "color:white") jeremy.troiano@penskeracing.com
                br
                br

